@model LibraryManagementSystem.Models.BookViewModel

@{
    ViewData["Title"] = "删除图书";
}

<h1>删除图书</h1>

<hr />
<div>
    <h4>你确定要删除这本书吗？</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            书名
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            作者
        </dt>
        <dd class="col-sm-10">
            @Model.Author
        </dd>
        <dt class="col-sm-2">
            出版社
        </dt>
        <dd class="col-sm-10">
            @Model.Publisher
        </dd>
        <dt class="col-sm-2">
            标准书号
        </dt>
        <dd class="col-sm-10">
            @Model.ISBN
        </dd>
        <dt class="col-sm-2">
            价格
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            出版时间
        </dt>
        <dd class="col-sm-10">
            @Model.PublishDate
        </dd>
        <dt class="col-sm-2">
            分类
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryId
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">返回</a>
    </form>
</div>
